.container {
  width: 90%;
  margin: 80px auto;
  background: $color-white;

  display: grid;
  grid-template-columns: repeat(2, min-max(min-content, 1fr));
  grid-template-rows: repeat(2, min-content);
}
